@use "../custom" as *;

.services {
  position: relative;
  padding-top: 6rem;

  &__content {
    padding: 1rem;
    margin-top: 0;

    p {
      font-size: $font-size-sm;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }

  //   margin-top: 5rem;

  .icon {
    font-size: 1.5rem;
    color: $primary;
  }
}
