// Import
@use "../custom" as *;
@use "../components/mixin" as *;

.menu {
  background: $gradient-color-1;

  .container-fluid .navbar-brand .logo {
    width: 4rem;
    height: 4rem;
  }

  li {
    padding: 0 0.7rem;

    a {
      color: $light-color;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
